* {
  box-sizing: border-box;
  margin: 0;
}

/* -----------------------burgermenu--------------------------- */
.toggle-btn {
  display: none;
}
.toggle-btn {
  padding-inline: 45%;
  font-family: "Oranienbaum", serif;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }

  .menu-icons {
    width: 100%;
    height: 100%;
  }

  .toggle-btn.open .burger,
  .close {
    display: none;
  }

  .toggle-btn.open .close,
  .burger {
    display: block;
  }
}
header {
  background-color: #f1f1e9;
  padding-top: 2%;
}
header .hjem {
  text-align: center;
}
.hjem a {
  font-size: 5rem;

  font-family: "Oranienbaum", serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  padding: 40px;
  gap: 20px;
}

a {
  font-family: "Oranienbaum", serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

/* ------------Billede størrelse---------------------------------------------------------------------- */
img {
  width: 100%;
  display: block;
}
/* ------------Fontstørrelse og font---------------------------------------------------------------------- */
h1,
h2,
h3 {
  font-family: "Oranienbaum", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

/* mouse over link */
a:hover {
  color: #f7c771;
}

/* ------------Sektion1 --------------------------------------------------------------------- */

#section_1 .section_wrapper {
  margin: 30px;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr 1fr;
  margin-bottom: 20%;
  margin-top: -20px;
}

#section_1 .billede {
  grid-area: 1.5 / 1 / 2 / 2;
  margin-left: 50px;
}

#section_1 .h1 {
  grid-area: 1 / 1 / 2 / 3;
  margin-left: 3px;
  margin-top: 40%;
}

#section_1 .text {
  grid-area: 1 / 1/ 2 / 3;
  margin-left: 80px;
  margin-top: 82%;
}

@media (min-width: 600px) {
  #section_1 .section_wrapper {
    margin: 30px;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr 1fr;
    margin-bottom: 20%;
    margin-top: -20px;
  }

  #section_1 .billede {
    grid-area: 1.5 / 1 / 2 / 2;
    margin-left: 50px;
  }

  #section_1 .h1 {
    grid-area: 1 / 1 / 2 / 3;
    margin-left: 3px;
    margin-top: 40%;
  }

  #section_1 .text {
    grid-area: 1 / 1/ 2 / 3;
    margin-left: 80px;
    margin-top: 70%;
  }
}

@media (min-width: 1200px) {
  #section_1 .section_wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr 1fr;
    margin-bottom: -400px;
  }

  #section_1 .billede {
    grid-area: 2 / 3 / 2 / 3;
    margin-left: 90px;
    margin-right: 520px;
  }

  #section_1 .h1 {
    grid-area: 1 / 1 / 2 / 3;
    margin-left: 520px;
    margin-top: 3.5%;
  }

  #section_1 .text {
    grid-area: 1 / 1/ 2 / 4;
    margin-left: 850px;
    margin-top: 280px;
    margin-right: 100px;
  }
  #section_1 h1 {
    font-size: 180px;
  }
}

/* ------------Sektion3 --------------------------------------------------------------------- */

#section_3 .section_wrapper {
  margin: 30px;
}

#section_3 img {
  margin-top: 20px;
}
#section_3 .billede {
  margin: 10px;
}

#section_3 .text {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
}

/* ------------Sektion4 --------------------------------------------------------------------- */

#section_4 .section_wrapper {
  margin: 30px;
}

#section_4 img {
  margin-top: 20px;
}
#section_4 .billede {
  margin: 10px;
}

#section_4 .text {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}

/* ------------Sektion5 --------------------------------------------------------------------- */

#section_5 .section_wrapper {
  margin: 30px;
}

#section_5 img {
  margin-top: 20px;
}
#section_5 .billede {
  margin: 10px;
}

#section_5 .text {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
}

/* ------------Sektion6 --------------------------------------------------------------------- */

#section_6 .section_wrapper {
  margin: 30px;
}

#section_6 img {
  margin-top: 20px;
}
#section_6 .billede {
  margin: 10px;
}

#section_6 .text {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
}
/* ------------Sektion7 --------------------------------------------------------------------- */

#section_7 .section_wrapper {
  margin: 30px;
}

#section_7 img {
  margin-top: 20px;
}
#section_7 .billede {
  margin: 10px;
}

#section_7 .text {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}
/* ------------Sektion8 --------------------------------------------------------------------- */

#section_8 .section_wrapper {
  margin: 30px;
}

#section_8 img {
  margin-top: 20px;
}
#section_8 .billede {
  margin: 10px;
}

#section_8 .text {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
}
/* ------------Sektion9 --------------------------------------------------------------------- */

#section_9 .section_wrapper {
  margin: 30px;
}

#section_9 img {
  margin-top: 20px;
}
#section_9 .billede {
  margin: 10px;
}

#section_9 .text {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  /* font-size: 20px; */
}

/* ------------Sektion10 --------------------------------------------------------------------- */

#section_10 .section_wrapper {
  margin: 30px;
}

#section_10 img {
  margin-top: 20px;
}
#section_10 .billede {
  margin: 10px;
}

#section_10 .text {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}
/* ------------Sektion11 --------------------------------------------------------------------- */

#section_11 .section_wrapper {
  margin: 30px;
}

#section_11 img {
  margin-top: 20px;
}
#section_11 .billede {
  margin: 10px;
}

#section_11 .text {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}

/* ------------Sektion12 --------------------------------------------------------------------- */
#section_12 .section_wrapper {
  margin: 30px;
}

#section_12 img {
  margin-top: 20px;
}
#section_12 .billede {
  margin: 10px;
}

#section_12 .text {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1200px) {
  /* ------------Sektion3 --------------------------------------------------------------------- */
  #section_3 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
  }

  #section_3 .billede {
    padding: 50px;
  }

  #section_3 .text {
    margin-top: 190px;
  }
  h2 {
    font-size: 70px;
    margin-bottom: 50px;
  }

  /* ------------Sektion4 --------------------------------------------------------------------- */
  #section_4 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
  }

  #section_4 .billede {
    padding: 50px;
  }

  #section_4 .text {
    margin-top: 190px;
  }
  h2 {
    font-size: 70px;
    margin-bottom: 50px;
  }
  /* ------------Sektion5 --------------------------------------------------------------------- */
  #section_5 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
  }

  #section_5 .billede {
    padding: 50px;
  }

  #section_5 .text {
    margin-top: 190px;
  }
  h2 {
    font-size: 70px;
    margin-bottom: 50px;
  }
  /* ------------Sektion6 --------------------------------------------------------------------- */
  #section_6 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
  }

  #section_6 .billede {
    padding: 50px;
  }

  #section_6 .text {
    margin-top: 190px;
  }
  h2 {
    font-size: 70px;
    margin-bottom: 50px;
  }
  /* ------------Sektion7 --------------------------------------------------------------------- */
  #section_7 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
  }

  #section_7 .billede {
    padding: 50px;
  }

  #section_7 .text {
    margin-top: 190px;
  }
  h2 {
    font-size: 70px;
    margin-bottom: 50px;
  }

  /* ------------Sektion8 --------------------------------------------------------------------- */
  #section_8 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
  }

  #section_8 .billede {
    padding: 50px;
  }

  #section_8 .text {
    margin-top: 190px;
  }
  h2 {
    font-size: 70px;
    margin-bottom: 50px;
  }
  /* ------------Sektion9 --------------------------------------------------------------------- */
  #section_9 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
  }

  #section_9 .billede {
    padding: 50px;
  }

  #section_9 .text {
    margin-top: 270px;
  }
  h2 {
    font-size: 70px;
    margin-bottom: 50px;
  }

  /* ------------Sektion10--------------------------------------------------------------------- */
  #section_10 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
  }

  #section_10 .billede {
    padding: 50px;
  }

  #section_10 .text {
    margin-top: 270px;
  }
  h2 {
    font-size: 70px;
    margin-bottom: 50px;
  }

  /* ------------Sektion11--------------------------------------------------------------------- */
  #section_11 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
  }

  #section_11 .billede {
    padding: 50px;
  }

  #section_11 .text {
    margin-top: 270px;
  }
  h2 {
    font-size: 70px;
    margin-bottom: 50px;
  }
  /* ------------Sektion12--------------------------------------------------------------------- */
  #section_12 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
  }

  #section_12 .billede {
    padding: 50px;
  }

  #section_12 .text {
    margin-top: 270px;
  }
  h2 {
    font-size: 70px;
    margin-bottom: 50px;
  }
}
