* {
  box-sizing: border-box;
  margin: 0;
}

/* burgermenu */
.toggle-btn {
  display: none;
}
.toggle-btn {
  padding-inline: 45%;
  font-family: "Oranienbaum", serif;
}
header {
  background-color: #f1f1e9;
  padding-top: 2%;
}
header .hjem {
  text-align: center;
}
.hjem a {
  font-size: 5rem;

  font-family: "Oranienbaum", serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  padding: 40px;
  gap: 20px;
}
a {
  font-family: "Oranienbaum", serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

/* ------------Billede størrelse---------------------------------------------------------------------- */
img {
  width: 100%;
  height: auto;
  display: block;
}

/* ------------Section 1--------------------------------------------------------------------- */

#section_1 .section_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  text-align: center;
  gap: 2px;
}

#section_1 h1 {
  font-family: oranienbaum;
  font-size: 75px;
}

#section_1 .web {
  background-color: #d0c3ad;
  margin: 5px;
}

#section_1 .ux {
  background-color: #ec5840;
  margin: 5px;
}

#section_1 .animation_04 {
  background-color: #2159b5;
  margin: 5px;
}
#section_1 .indhold_05 {
  background-color: #ceb8f3;
  margin: 5px;
}

#section_1 .ommig {
  background-color: #527247;
  margin: 5px;
}

/* ---------------------@MEDIA-------------------------*/
@media (min-width: 1200px) {
  #section_1 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px;
    text-align: center;
  }
}
